################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaControleMVC/v15/Server/sqlite3
/.vs/SistemaControleMVC/v15
