@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any())
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3>Opa! Alguma coisa não deu certo:</h3>
        @Html.ValidationSummary(true)
    </div>
}
